<style>
    .pagenot-found-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        background: url('../images/404.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }
</style>



<div class="pagenot-found-container">
    <h2>Page Not Found</h2>
    <button class="btn btn-primary" onclick="history.back()">Go Back</button>
</div>