


<% if(alertMessage.length >0){ %>

<div class="alert alert-info" role="alert">
 
    <%= alertMessage %>

</div>


<% } %>


<script>

    const alertDuration=5000;

    setTimeout(()=>{
        document.getElementsByClassName('alert')[0].style.display='none'
    },alertDuration)


</script>