
<style>
    .footer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        padding: 2rem;
        
    }
</style>

<div class="footer-container bg-dark">
   <h6> &copy; ASHWIN CLARENCE 2024</h6>
</div>