<style>
    .navbar-container{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
</style>

<div class="navbar-container">
    <div class="logo">
        <h2>logo</h2>
    </div>
 
</div>



<%- include('alert') %>